/* COLORS */
$colours:
	"red" #FF3E3E,
	"darkblue" #1D3344;

@each $i in $colours{
	.bg-#{nth($i, 1)} {
		background: nth($i, 2);
	}
	.text-#{nth($i, 1)} {
		color:nth($i, 2);
	}
}
.landing-bg {
  position: absolute;
}
